@page "/servers/details/{DetailId:guid}"
@using NSL.Database.EntityFramework.Filter.Enums
@using NSL.Management.CentralService.ExternalClient.Data.Enums

<PageTitle>DetailsPage</PageTitle>

@if (Details == null)
{
    <h3>Loading...</h3>
    return;
}

<h3>@Details.Name</h3>

<hr />

<Tabs>
    <Tab Title="Details">
        <Content>
            <dl>
                <dt>Id</dt>
                <dd>@Details.Id</dd>

                <dt>Name</dt>
                <dd>@Details.Name</dd>

                <dt>Token</dt>
                <dd>@Details.IdentityKey</dd>
            </dl>

        </Content>
    </Tab>
    <Tab Title="Logs" OnClick="LoadLogs">
        <Content>


            <Accordion Class="pt-2">
                <AccordionItem>
                    <TitleTemplate>
                        <Icon Name="IconName.HouseFill" Class="me-1" /> Filter
                    </TitleTemplate>
                    <Content>
                        <div class="mb-3">
                            <label class="form-label">From</label>
                            <input type="datetime-local" @bind="filterLogsFrom" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">To</label>
                            <input type="datetime-local" @bind="filterLogsTo" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">
                                <select @bind="searchLogsTextType">
                                    <option value="@CompareType.Equals">Equals</option>
                                    <option value="@CompareType.NotEquals">NotEquals</option>
                                    <option value="@CompareType.ContainsCase">ContainsCase</option>
                                    <option value="@CompareType.ContainsIgnoreCase">ContainsIgnoreCase</option>
                                    <option value="@CompareType.StartsWithCase">StartsWithCase</option>
                                    <option value="@CompareType.StartsWithIgnoreCase">StartsWithIgnoreCase</option>
                                    <option value="@CompareType.EndsWithCase">EndsWithCase</option>
                                    <option value="@CompareType.EndsWithIgnoreCase">EndsWithIgnoreCase</option>
                                </select> content
                            </label>
                            <input type="text" @bind="searchLogsText" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Level</label>
                            <select @bind="filterLogsLevel">
                                <option value=""></option>
                                @foreach (var item in Enum.GetValues<LogLevelEnum>())
                                {
                                    <option value="@item.ToString()">@item.ToString()</option>

                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <Button Type="ButtonType.Button" @onclick="_loadLogs">Set</Button>
                            <Button Type="ButtonType.Button" @onclick="clearLogsFilter">Clear</Button>
                            @if (HaveLogsFilter)
                            {
                                <Button Type="ButtonType.Button" Color="ButtonColor.Danger" @onclick="clearLogItems">Clear filtered records</Button>
                            }
                        </div>

                    </Content>
                </AccordionItem>
            </Accordion>

            @if (Logs != null)
            {
                <div style="height: 65vh;overflow-y:auto">
                    @if (havePrevLogs)
                    {
                        <Button Style="width:100%" @onclick="logsLoadPrev">Load Prev (100)</Button>
                    }

                    @foreach (var item in Logs)
                    {
                        <p>@item.CreateTime - @item.LogLevel - @item.Content</p>
                    }

                    @if (haveNextLogs && !HaveLogsFilter)
                    {
                        <Button Style="width:100%" @onclick="logsLoadNext">Load Next(@(newLogsCount - logsCount))</Button>
                    }
                </div>
            }
        </Content>
    </Tab>
    <Tab Title="Metrics" OnClick="LoadMetrics">
        <Content>


            <Accordion Class="pt-2">
                <AccordionItem>
                    <TitleTemplate>
                        <Icon Name="IconName.HouseFill" Class="me-1" /> Filter
                    </TitleTemplate>
                    <Content>
                        <div class="mb-3">
                            <label class="form-label">From</label>
                            <input type="datetime-local" @bind="filterMetricsFrom" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">To</label>
                            <input type="datetime-local" @bind="filterMetricsTo" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">
                                <select @bind="filterMetricsNameType">
                                    <option value="@CompareType.Equals">Equals</option>
                                    <option value="@CompareType.NotEquals">NotEquals</option>
                                    <option value="@CompareType.ContainsCase">ContainsCase</option>
                                    <option value="@CompareType.ContainsIgnoreCase">ContainsIgnoreCase</option>
                                    <option value="@CompareType.StartsWithCase">StartsWithCase</option>
                                    <option value="@CompareType.StartsWithIgnoreCase">StartsWithIgnoreCase</option>
                                    <option value="@CompareType.EndsWithCase">EndsWithCase</option>
                                    <option value="@CompareType.EndsWithIgnoreCase">EndsWithIgnoreCase</option>
                                </select> name
                            </label>
                            <input type="text" @bind="filterMetricsName" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">
                                <select @bind="filterMetricsValueType">
                                    <option value="@CompareType.Equals">Equals</option>
                                    <option value="@CompareType.NotEquals">NotEquals</option>
                                    <option value="@CompareType.Less">Less</option>
                                    <option value="@CompareType.EqualsALess">EqualsALess</option>
                                    <option value="@CompareType.More">More</option>
                                    <option value="@CompareType.EqualsAMore">EqualsAMore</option>
                                </select> value
                            </label>
                            <input type="number" @bind="filterMetricsValue" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <Button Type="ButtonType.Button" @onclick="_loadMetrics">Set</Button>
                            <Button Type="ButtonType.Button" @onclick="clearMetricsFilter">Clear</Button>
                            @if (HaveMetricsFilter)
                            {
                                <Button Type="ButtonType.Button" Color="ButtonColor.Danger" @onclick="clearMetricItems">Clear filtered records</Button>
                                <Button Type="ButtonType.Button" @onclick="calculateMetricsMin">Calculate filtered min</Button>
                                <Button Type="ButtonType.Button" @onclick="calculateMetricsAvg">Calculate filtered avg</Button>
                                <Button Type="ButtonType.Button" @onclick="calculateMetricsMax">Calculate filtered max</Button>
                            }
                        </div>

                    </Content>
                </AccordionItem>
            </Accordion>

            @if (Metrics != null)
            {
                <div style="height: 65vh;overflow-y:auto">
                    @if (havePrevMetrics)
                    {
                        <Button Style="width:100%" @onclick="metricsLoadPrev">Load Prev (100)</Button>
                    }

                    @foreach (var item in Metrics)
                    {
                        <p>@item.Name - @item.CreateTime - @item.Value</p>
                    }

                    @if (haveNextMetrics && !HaveMetricsFilter)
                    {
                        <Button Style="width:100%" @onclick="metricsLoadNext">Load Next(@(newMetricsCount - metricsCount))</Button>
                    }
                </div>
            }
        </Content>
    </Tab>
</Tabs>
<Modal @ref="metricsCalcModalRef">
    <HeaderTemplate>@metricsCalcDisplayTitle</HeaderTemplate>
    <BodyTemplate>@metricsCalcDisplayNumber</BodyTemplate>
</Modal>